@page "/"
@using ScottPlotVersion9.Client.Components.Pages 
@inject NavigationManager Navigator
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

Server Render Button custom component from Server project in InteractiveAuto Page

<Boton></Boton><br/>

Web Assembly component/page from WebAssembly project in InteractiveAuto Page

<Counter></Counter>

Web Assembly component from Razor Class Library project in InteractiveAuto Page

<UserControl.IISGraphic @rendermode="InteractiveWebAssembly"></UserControl.IISGraphic>

<h3>Dynamic Graphic Loader UserControl IISGraphic</h3>

@if (fragment is not null)
{
    @fragment
}

<h3>Dynamic Graphic Loader Counter Component</h3>

@if (fragment1 is not null)
{
    @fragment1
}


@code {
    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public String Content { get; set; }

    private RenderFragment? fragment;

    private RenderFragment? fragment1;

    protected override async Task OnInitializedAsync()
    {
        // Create a dynamic render fragment that hosts the IISGraphic component
        fragment = builder =>
        {
            builder.OpenComponent<DynamicComponent>(0);
            builder.AddAttribute(1, "Type", typeof(UserControl));
            builder.CloseComponent();
        };

        // Create a dynamic render fragment that hosts the IISGraphic component
        fragment1 = builder =>
        {
            builder.OpenComponent<DynamicComponent>(0);
            builder.AddAttribute(1, "Type", typeof(Counter));
            builder.CloseComponent();
        };

        ProjectName = "Original";
        Content = "Fans";
    }

    //Action button - Go to Plot  - ActionType = 50
    private async Task OpenPlotPopupWindowAsync()
    {
        try
        {
            var baseUri = $"{Navigator.BaseUri}";

            var page = "plot";
            var projectName = ProjectName;
            var plotName = Content;
            var link = $"{page}/{projectName}/{plotName}";

            //var target = "_blank"; // Target attribute value "_blank" will create several new and unnamed windows
            var target = page; // Target value with the Window's name to open
            var windowLocation = "left=50,top=50";
            var windowSize = "width=1425,height=710";
            var windowFeatures = $"{windowLocation},{windowSize}";

            await JSRuntime.InvokeVoidAsync("openWindow", baseUri, link, target, windowFeatures);
        }
        catch (Exception ex)
        {
            var exceptionMessage = ex.Message;
        }
    }
}
